#btn-loan {
    background-color: red;
}


#btn-submit {
    background-color: rgb(15, 153, 15);
    text-align: left;
    padding: none;
    color: aliceblue;
    align-items: left;
}


* {
    padding: 0;
    margin: 0;
}


